@charset "ISO-8859-1";

/*Gerais*/


body{
	background-color: #7b573b;
	
}

.row{
	
	margin: 0;
}

.container {
	
	padding: 50px 0px;
}

p, li{
	color: #FFF;
	font-size: 14px;
}

/* NavBar */

header, .navbar{
	background-color: #7ed957;	
	
}

header{
	box-shadow: 0px 0px 5px black;
}

nav-container{
	padding-top: 0px;
	padding-bottom: 0px;
}

#logo{
	width: 75px;
}

.navbar-brand{
	padding: 0;
	color: #FFF;
}

.navbar-brand:hover{
	color: #FFF;
}

#navbar-links a{
	color: #FFF;
}

.navbar-expand-lg .navbar-nav .nav-link{
	padding: 1rem .8rem;
}


/*Section*/

#h1Buy{
	font-size: 60px;
	font-weight: bold;
	color: #7ed957;
	text-shadow: 0px 0px 2px black;
}

.h1Planos{
	color: #FFF;
	text-shadow: 0px 0px 2px black;
}



/*Sobre nós*/

#WeAbout{
	background-color: #FFF;
}

.section{
	margin: 20px;
	width: 80%;
	background-color: #7ed957;
	border-radius: 10px;
	box-shadow: 0px 0px 5px black;
}

#sectionAbout{
	width: 80%;
	background-color: #7ed957;
	border-radius: 10px;
	box-shadow: 0px 0px 5px black;
}

#sectionAbout div{
	margin: 0px 15px;
	color: #FFF;
}

#footerDiv{
	padding-bottom: 0px !important;
}


/*Slider*/

main .container-fluid{
	padding: 0;
}


#mainSlider .carousel-inner, #mainSlider .carousel-item{
	height: 85vh;
}

#mainSlider .carousel-caption{
	top: 30%;
}

#mainSlider .carousel-caption h2 {
	font-size: 50px;
	margin-bottom: 30px;
	text-shadow: 0px 0px 4px black;
}

#mainSlider .carousel-caption p {
	font-size: 22px;
	font-weight: 300;
	margin-bottom: 70px;
	color: #FFF;
	text-shadow: 0px 0px 4px black;
}

.main-btn{
	background-color: #7ed957;
	color: #FFF;
	text-transform: uppercase;
	width: 100px;
	height: 60px;
	padding: 10px 20px;
	border-radius: 30px;
	border: 3px solid transparent;
	transition: .5s;
	text-shadow: 0px 0px 2px black;
	box-shadow: 0px 0px 1px black;
}

.main-btn:hover{
	text-decoration: none;
	color: #FFF;
	background-color: transparent;
	border-color: #7ed957;
}

.carousel-indicators .active{
	background-color: #7ed957;
}

/*TICKET*/

.ticket{
	margin: 50px;
	height: 55vh !important;
	width: 60vw;
	background-color: #fff;
	border-radius: 20px;
}

.headerTicket{
	border-radius: 20px 20px 0 0;
	height: 70px !important;
	background-color: #7ed957;
}

.bodyTicket{
	
}